.timer-background {
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
}
.button-style{
        background-color: lightblue;
        border: solid black;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px;
    }